<div class="profile-page" *ngIf="userProfile">
  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          <img
            class="user-img"
            src="https://99px.ru/sstorage/1/2025/05/image_12805251933054522370.jpg"
          />
          <h4>{{ userProfile.username }}</h4>
          <p>{{ userProfile.bio }}</p>
          <app-follow-user
            [isFollowing]="userProfile.following"
          ></app-follow-user>
          <a
            class="btn btn-sm btn-outline-secondary action-btn"
            *ngIf="isCurrentUserProfile$ | async"
            [routerLink]="['/settings']"
          >
            Edit Profile Settings
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1">
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a
                [routerLink]="['/profiles', userProfile.username]"
                [routerLinkActiveOptions]="{ exact: true }"
                class="nav-link"
                routerLinkActive="active"
              >
                My articles
              </a>
            </li>

            <li class="nav-item">
              <a
                [routerLink]="['/profiles', userProfile.username, 'favorites']"
                class="nav-link"
                routerLinkActive="active"
              >
                Favorited Articles
              </a>
            </li>
          </ul>
        </div>
        <app-feed [apiUrl]="apiUrl"></app-feed>
      </div>
    </div>
  </div>
</div>
