<app-loading *ngIf="isLoading$ | async"></app-loading>
<app-error-message *ngIf="error$ | async"></app-error-message>

<div *ngIf="feed$ | async as feed">
  <div class="article-preview" *ngFor="let article of feed.articles">
    <div class="article-meta">
      @if (article.author.username) {
        <a [routerLink]="['/profiles', article.author.username]">
          <img [src]="article.author.image" />
        </a>
        <div class="info">
          <a [routerLink]="['/profiles', article.author.username]">
            {{ article.author.username }}
          </a>
          <span class="date">{{ article.createdAt | date: 'MMMM d, y' }}</span>
        </div>
      } @else {
        <a>
          <img [src]="article.author.image" />
        </a>
        <div class="info">
          <span class="date">{{ article.createdAt | date: 'MMMM d, y' }}</span>
        </div>
      }
      <div class="pull-xs-right">
        <app-add-to-favorites
          [favoritesCount]="article.favoritesCount"
          [articleSlug]="article.slug"
          [isFavorited]="article.favorited"
        ></app-add-to-favorites>
      </div>
    </div>
    <a [routerLink]="['/articles', article.slug]" class="preview-link">
      <h1>{{ article.title }}</h1>
      <p>{{ article.description }}</p>
      <span>Read more...</span>
      <app-tag-list [tags]="article.tagList"></app-tag-list>
    </a>
  </div>
  <ng-container *ngIf="feed$ | async as feed">
    <app-pagination
      [total]="feed.articlesCount"
      [limit]="limit"
      [url]="baseUrl"
      [currentPage]="currentPage"
    >
    </app-pagination>
  </ng-container>
</div>
